/src/_ReSharper.WordsFrequency
/src/WordsAutocomplete/bin
/src/WordsAutocomplete/obj
/src/WordsFrequency.sln.DotSettings.user
/src/WordsFrequency.v11.suo
/src/WordsFrequency/obj
/src/WordsFrequency/bin
/src/WordsFrequency.Tests/obj
/src/WordsFrequency.Tests/bin
/src/WordsAutocomplete.Tests/obj
/src/WordsAutocomplete.Tests/bin
/src/packages/*
/src/packages/*
/src/packages/*
/src/ExampleGenerator/bin
/src/ExampleGenerator/obj
/src/DictionaryClient/bin
/src/DictionaryClient/obj
/src/DictionaryServer/obj
/src/DictionaryServer/bin
/src/DictionaryConsole/obj
/src/DictionaryConsole/bin
/src/WordFrequency.Utils/obj
/src/WordFrequency.Utils/bin
/src/WordFrequency.Utils.Tests/bin
/src/WordFrequency.Utils.Tests/obj
/src/DictionaryClient/*.user
/src/DictionaryServer/*.user
